# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# NPM
/node_modules
package-lock.json

# Composer
/vendor

# Build output
/assets/build
/basic-banner
basic-banner.zip
