.basic-banner {
	a, img {
		display: block;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.wp-block-basic-banner-banner {
	.components-placeholder {
		margin-bottom: 1rem;
	}

	.components-combobox-control__suggestions-container {
		width: 100%;
	}
}
